.activity-page, .activity-page .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.activity-page .content {
    max-width: var(--content-width);
    margin: 0 auto;
}

.activity-page .actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.activity-page .actions h2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 42px;
    color: var(--pure-white);
}

.activity-page .actions .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
}
